<template name="login">
	{{#if currentUser}} {{else}}
	<div id="login-container">
		<div id="form-login">
		<form>
			<input type="email" name="email" placeholder="Your Email" />
			<input type="password" name="password" placeholder="Password" />
			<button type="submit">Sign in</button>
		</form>
		</div>
		<div id="login">
			<div id="service-login">
				<div id="facebook-login" class="login">
					<div>Sign in with Facebook</div>
				</div>
				<div id="twitter-login" class="login">
					<div>Twitter</div>
				</div>
				<div id="google-login" class="login">
					<div>Google</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div id="mail-login" class="login other" style="text-align:left">
				<span>Sign in with Email</span>
			</div>
			<div id="no-login" class="login other" style="text-align:right">
				<span>Überspringen</span>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	{{/if}}
</template>